---
title: "Social Tech Collaborative"
layout: default
---
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Social Tech Playbook for COVID-19 Response</h1>
                <p class="lead">A technology guide for social service agencies responding to the increased demand for basic needs during the coronavirus pandemic.</p>
                <p><a class="btn btn-primary btn-lg" href="https://socialtech.us/playbook/" role="button">Visit the playbook</a></p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>

{% include partners.html %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="news">
                {% include news.html %}
                <p><a href="/news">More news &raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>