<footer>
    {% include partners.html %}
    {% include connect.html %}
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>The <a href="https://socialtech.us">Social Tech Collaborative</a> is an initiative of <a href="https://alluma.org"> Alluma.org</a> &middot; <a href="mailto:socialtech@alluma.org">Contact</a> &middot; <a href="https://socialtech.us/privacy"> Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
