<div class="container partners">
    <div class="row">
        <div class="col-lg-12">
            <h2>Partners</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3">
            <a href="https://www.alluma.org/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-alluma.png" alt="Alluma" title="Alluma" class="vert"></a>
        </div>
        <div class="col-lg-3">
            <a href="https://bdtrust.org/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-benefitsdatatrust.png" alt="Benefits Data Trust" title="Benefits Data Trust" class="horiz"></a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.civilla.com/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-civilla.png" alt="Civilla" title="Civilla" class="horiz"></a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.codeforamerica.org/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-cfa.png" alt="Code for America" title="Code for America" class="horiz"></a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3">
            <a href="https://www.mrelief.com"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-mrelief.svg" alt="mRelief" title="mRelief" class="vert"></a>
        </div>
        <div class="col-lg-3">
            <a href="https://www.1degree.org/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-onedegree.png" alt="One Degree" title="One Degree" class="sq"></a>
        </div>
        <div class="col-lg-3">
            <a href="https://singlestopusa.org/"><img src="{{site.url}}/{{site.baseurl}}/assets/img/logos/logo-singlestop.svg" alt="Single Stop" title="Single Stop" class="sq"></a>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>