<!DOCTYPE html>
<html lang="es">
{% include head.html %}

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{{site.url}}/">Social Tech Collaborative</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsDefault">
                <ul class="navbar-nav mr-auto align-items-center">
                </ul>
                <ul class="navbar-nav ml-auto align-items-center">
                    {% include menu-header.html %}
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" id="content" tabindex="-1">
        {{ content }}
    </main>
    <!-- Footer -->
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/theme.js"></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/lunr.js"></script>
</body>

</html>