---
layout: default
---
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1>{{page.title}}</h1>
                    <p class="lead">{{page.description}}</p>
                    <p class="byline">By <a href="{{page.author_link}}">
                            {{ page.author }}
                        </a> &middot; {{ page.date | date: "%m/%d/%Y" }}
                    </p>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{ content }}
                <div class="bio">
                    <p>{{ page.author_bio }}</p>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
    </div>
</main>